
{:version "0.0.1" ; TODO
 :group-id "minimal-xyz" ; TODO
 :artifact-id "minimal-cljs-deploy" ; TODO
 :skip-tag true ; make it behave like npm, regardless of git tags by default
 :description "TODO" ; no usage, just comment
 :scm-url "https://github.com/minimal-xyz/minimal-cljs-deploy"} ; TODO, you repo
